.shoeSizeContainer {
    width: 100%;
    min-height: 85vh;
    position: relative;
}

.ranger {
    height: 100px;
    background-color: var(--white);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.manualInput {
    background-color: var(--white);
    border: 1px solid var(--border);
    padding: 20px 30px 10px 30px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}